USE [master]
GO
/****** Object:  Database [SnakeGame]    Script Date: 3/11/2018 8:47:49 PM ******/
CREATE DATABASE [SnakeGame]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SnakeGame', FILENAME = N'F:\Sql\MSSQL14.SQLEXPRESS\MSSQL\DATA\SnakeGame.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SnakeGame_log', FILENAME = N'F:\Sql\MSSQL14.SQLEXPRESS\MSSQL\DATA\SnakeGame_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SnakeGame].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SnakeGame]
GO
USE [SnakeGame]
GO
/****** Object:  Table [dbo].[Leaderboards]    Script Date: 3/11/2018 8:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leaderboards](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Score] [int] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_Leaderboards] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
